* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", serif;
}

body {
    background-color: black;
    color: white;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 10%;
    z-index: 2;

    & img {
        width: 250px;
    }

    & nav {
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        & a {
            color: white;
            text-decoration: none;
        }

        & a:hover {
            color: #56ff1d;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

section {
    background-image: radial-gradient(#7f3d9e, #3d00d9);
    height: 100vh;
    position: relative;
    padding: 150px 100px 0px 150px;
    
    & #containerFlex {
        
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        
    }

    & .itensFlex {
        display: flex;
        margin: 10px;
        width: 350px;
        min-width: 350px;
        height: 100px;
        background-color: white;
        border-radius: 5px;
        color: black;
        box-shadow: 2px 2px 6px 0px black;

        & img {
            margin: 30PX 40px 30px 30px;
        }

        & #ferrari-Img {
           width: 108px;
           height: 40px;
        }

        & .linha {
            height: 100%;
            width: 1px;
            margin-right: 40px;
            background-color: black;
        }

        & span {
            
            & h2 {
                padding-top: 5px;
                font-family: "League Gothic", serif;
                font-size: 25px;
            }
        }    
        
        & button {
            padding-left: 5px;
            padding-right: 5px;
            background-color: #7f3d9e;
            border: 1px solid black;
            border-radius: 5px;
            box-shadow: 1px 1px 5px 0px black;
            cursor: pointer;
        }
    }

    & .itensFlex:hover {
        width: 360px;
        height: 110px;
        transition: 0.2s;

        & img {
            width: 118px;
            height: 50px;
        }

        & button:hover {
            background-color: #beff1d;
        }
    }

    & #ferrari-Id:hover {
        width: 360px;
        height: 110px;
        transition: 0.2s;
    
        & img {
            width: 128px;
            height: 50px;
        }
    
        & button:hover {
            background-color: #beff1d;
        }
    }

}

.detalhes {
    
    & .caixaDetalhes {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin: auto;
        background-color: white;
        color: black;
        height: 500px;
        width: 800px;
        border-radius: 10px;
        box-shadow: 3px 3px 12px 0px black;

        & img {
            margin-top: 130px;
            width: 300px;
            height: 220px;
            border-radius: 20px;
            box-shadow: 3px 3px 8px black;
        }
        
        & .linhaCaixa {
            height: 100%;
            width: 3px;
            background-color: black;
        }
    
        & .textoD {
            margin-top: 50px;
            width: 300px;
    
            & h2 {
                font-family: "League Gothic", serif;
                font-size: 70px;
            }
    
            & h3 {
                font-family: 'Courier New', Courier, monospace;
            }
    
            & p {
                margin-top: 30px;
            }
        }
    }
}

#porscheCaixa {
    display: none;
}

#ferrariCaixa {
    display: none;
}

#lamborghiniCaixa {
    display: none;
}

#jaguarCaixa {
    display: none;
}